* {
	margin: 0px;,
	padding: 0px;
}

body {
	background: #f6f9fa;
}

.page_header, .page_footer {
	height: 5vh;
	width: 100vw;
	display: flex;
    justify-content: center;
    align-items: center;
}

.page_footer {
	background: #f6f9fa;
}
