.history_video_list {
	width: calc(100vw - 2rem);
	padding: 1.2rem 1rem 0rem;
	height: auto;
	background: #ffffff;
	margin-top: 0.3rem;
	box-sizing: content-box;
}

.history_video_list_item {
	list-style: none;
	overflow: hidden;
	margin-top: 0.4rem;
	color: #6d757a;
	font-size: 0.8rem;
	position: relative;
}

.history_video_list_img {
	width: 35%;
	float: left;
	height: auto;
	margin-right: 0.5rem;
}

.history_video_list_watchNum {
	position: absolute;
	bottom: 0.2rem;
}

.history_video_list_watchNum:before {
	content: '▶';
	display: inline-block;
	font-size: 0.5rem;
	height: 1rem;
	width: 1.4rem;
	border: 1px solid #6d757a;
	border-radius: 5px;
	color: #6d757a;
	text-align: center;
	line-height: 0.9rem;
	transform: scale(0.7)
}

.history_video_list_text {
	margin-left: 35%;
	width: calc(65% - 0.5rem);
	text-overflow: ellipsis;
}

.list_header {
	text-align: center;
	vertical-align: middle;
	height: 3rem;
	line-height: 3rem;
	background: #fff;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.list_name {
	color: #999;
}
