.video-react .video-react-big-play-button {
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: block;
    line-height: 3rem;
    cursor: pointer;
    border: 0.06666em solid #fff;
    background-color: #2B333F;
    background-color: rgba(43,51,63,0.7);
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.video-react {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video_container {
    width: 100vw;
    height: auto;
    background: #ffffff;
}

.video_info {
	display: flex;
    height: 3.5rem;
	justify-content: center;
    align-items: center;
	font-size: 1rem;
    box-shadow: 1px solid #eee;
}

.slick-slide {
    height: auto;
}

.ant-carousel {
    width: 100vw;
    height: auto;
}

.slick-list {
    height: auto;
}

.carousel_image {
    width: 100vw;
    height: auto;
}
